<footer class="py-5 d-block w-100">
    <hr>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading mb-4"><a href="https://thechoicebox.com" class="url text-decoration-none">thechoicebox.com</a></h2>
                <ul class="p-0">
                    <li class="d-inline-block me-3">
                        <a href="https://www.youtube.com/c/TheChoiceBox" class="d-block text-decoration-none">
                            <img src="assets/icons/youtube.svg" class="icon" height="60" width="60" /></a>
                    </li>
                    <li class="d-inline-block me-3">
                        <a href="https://www.facebook.com/thechoicebox/" class="d-block text-decoration-none">
                            <img src="assets/icons/facebook.svg" class="icon" height="60" width="60" /></a>
                    </li>
                    <li class="d-inline-block me-3">
                        <a href="https://www.instagram.com/thechoicebox/" class="d-block text-decoration-none">
                            <img src="assets/icons/instagram.svg" class="icon" height="60" width="60" /></a>
                    </li>
                    <li class="d-inline-block me-3">
                        <a href="https://twitter.com/thechoicebox66" class="d-block text-decoration-none">
                            <img src="assets/icons/twitter.svg" class="icon" height="60" width="60" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright &copy; {{ year }} All rights reserved | Made by <span style="color: #ffc107;">YKT</span> and <span style="color: #ffc107;">ADR</span>
                </p>
            </div>
        </div>
    </div>
</footer>