h1,
h5 {
    color: #0372bd;
}

.chips {
    border: 1px solid #0372bd;
    min-width: 100px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: .8px;
}

.flex-direction {
    flex-direction: row;
}

.backdrop {
    position: fixed;
    background-color: rgba(10, 5, 5, 0.95);
    height: 100vh;
    z-index: 1025;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backdrop-close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    height: 3rem !important;
    width: 3rem !important;
    font-size: 3rem !important;
    cursor: pointer;
}

.search-field {
    width: 60%;
    outline: none;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffffff;
    background: none;
    border: none;
    border-bottom: 3px solid #0372bd;
}

.topbar {
    position: relative;
    height: 80px;
    padding: .5rem .5rem;
    border-top: 2px solid #ffc107;
}

.topbar img {
    cursor: pointer;
}

.brand {
    color: #0372bd;
    cursor: pointer;
}

.menu-item {
    letter-spacing: .5px;
    font-weight: 500;
    cursor: pointer;
}

.ham-icon,
.sidebar {
    display: none;
}

@media only screen and (max-width: 575px) {
    .flex-direction {
        flex-direction: column;
    }
    .search-field {
        font-size: 2rem;
    }
    .nav-view {
        display: none !important;
    }
    .ham-icon {
        display: block;
        cursor: pointer;
        width: fit-content;
    }
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: #000;
    }
    .menu-item {
        font-size: x-large;
        cursor: pointer;
    }
    .menu-item:hover {
        color: #FFCC00;
    }
}